public class Main
{
    public static void main(String[] args)
    {
        int s;

        s= sum(0,1,2);
        System.out.println("suma =" + s);

        coche micoche= new coche();
        micoche.sumpuerta();
        System.out.println("puertas =" + micoche.puerta);
    }
    public static int sum (int a,int b,int c)
    {
        int s = a+b+c;
        return s;
    }


}

 class coche
{
    public int puerta=4;

    public  void sumpuerta()
    {
        this.puerta++ ;
    }
}
